# Base de données PostgreSQL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/saveurs_locales?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=""

# Stripe (mode test)
STRIPE_SECRET_KEY="sk_test_..."
STRIPE_PUBLISHABLE_KEY="pk_test_..."
STRIPE_WEBHOOK_SECRET="whsec_..."
